<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Jonah Aragon">
  {% if page.title %}<title>{{ page.title }} | Jonah Aragon</title>{% else %}<title>Jonah Aragon</title>{% endif %}
  <link rel="canonical" href="https://www.jonaharagon.com/">
  <link rel="stylesheet" href="/assets/css/app.css">
  <link href="https://static.nabla.host/fonts/fontawesome/pro/5.9.0/css/all.css" rel="stylesheet">
</head>
