{% if include.type == "social" %}
<li class="list-group-item">{% if include.svg %}<img width="16" height="16" src="{{ include.svg }}" class="mr-2" />{% else %}<i class="{% if include.icon %}{{ include.icon }}{% else %}fas fa-user{% endif %} mr-2"></i>{% endif %} {{ include.title }}: <a href="{{ include.url }}" rel="me">{{ include.username }}</a></li>
{%- elsif include.type == "messenger" -%}
<li class="list-group-item">{% if include.svg %}<img width="16" height="16" src="{{ include.svg }}" class="mr-2" />{% else %}<i class="{% if include.icon %}{{ include.icon }}{% else %}fas fa-comments-alt{% endif %} mr-2"></i>{% endif %} {% if include.text %}{{ include.text }}{% else %}{{ include.title }}: <a href="{{ include.url }}" rel="me">{{ include.username }}</a>{% endif %}</li>
{%- elsif include.type == "domain" -%}
<li class="list-group-item">{% if include.svg %}<img width="16" height="16" src="{{ include.svg }}" class="mr-2" />{% else %}<i class="{% if include.icon %}{{ include.icon }}{% else %}fas fa-globe-americas{% endif %} mr-2"></i>{% endif %} <a href="{{ include.url }}">{{ include.url | remove: "https://" | remove: "http://" | remove: "www." | remove: "/" }}</a></li>
{%- endif -%}
