<nav class="navbar">
  <div class="container">
    <ul class="navbar-nav no-list-decoration">
      <li><a class="text-decoration-none navbar-brand{% if page.url == "/" %} hidden{% endif %}" href="/">Jonah Aragon</a></li>
      <li><a class="text-decoration-none{% if page.url == '/' %} active{% endif %}" href="/">Home</a></li>
      <li><a class="text-decoration-none{% if page.url == '/accounts/' %} active{% endif %}" href="/accounts/">Contact</a></li>
      <li><a class="text-decoration-none{% if page.url == '/ipfs/' %} active{% endif %}" href="/ipfs/">IPFS</a></li>
      <li><a class="text-decoration-none{% if page.url == '/blog/' %} active{% endif %}" href="https://jonaharagon.me">Blog</a></li>
    </ul>
  </div>
</nav>
