{% include list-item.html type="social" title="Mastodon" icon="fab fa-mastodon" username="jonah&#64;social.privacytools.io" url="https://social.privacytools.io/@jonah" %}
{% include list-item.html type="social" title="GitHub" icon="fab fa-github" username="JonahAragon" url="https://github.com/JonahAragon" %}
{% include list-item.html type="social" title="Keybase" icon="fab fa-keybase" username="JonahAragon" url="https://keybase.io/JonahAragon" %}
{% include list-item.html type="social" title="LinkedIn" icon="fab fa-linkedin" username="JonahAragon" url="https://www.linkedin.com/in/jonaharagon/" %}
{% include list-item.html type="social" title="iFixit" svg="https://static.nabla.host/fonts/simple-icons/icons/ifixit.svg" username="Jonah Aragon" url="https://www.ifixit.com/User/2633872/Jonah+Aragon" %}
{% include list-item.html type="social" title="DigitalOcean" icon="fab fa-digital-ocean" username="jonaharagon" url="https://www.digitalocean.com/community/users/jonaharagon?primary_filter=tutorials" %}
