body {
  font-family: monospace;
  color: black;
  background-color: white;
}
.active {
  background-color: black;
  color: white;
}
a:hover:not(#name):not(.proof) {
  color: white;
  background-color: black;
  text-decoration: none;
}
.proof {
  color: green;
}
.proof:hover{
  color: white;
  background-color: green;
  text-decoration: none;
}
li * {
  font-size: 1rem;
  color: black;
  padding: 0.3rem;
  display: inline-block;
}
.blog-content {
  line-height: 1.5;
}
.reading-width {
  max-width: 64em;
  margin: 50px auto;
}
.post-title-nocover {
  line-height: 1em;
  margin-bottom: -0.5em;
}
table {
  text-align: left;
  margin: auto;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
.post-cover {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  margin-top: 10px;
  left: 50%;
  background-size: cover;
  background-position: center;
  height: 40em;
  line-height: 1.4;
}
.inner {
  max-width: 1080px;
  position: relative;
  height: inherit;
  margin: auto;
}
.post-cover .post-cover-text {
  position: absolute;
  bottom: 50px;
  margin: 0;
}
.post-cover .post-title {
  background-color: black;
  color: #fff;
  display: inline;
  padding: 0.5rem;

  /* Needs prefixing */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.post-cover .post-info {
  background-color: black;
  color: #fff;
  display: inline;
  padding: 0.5rem;
  display: inline;

  /* Needs prefixing */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
code.highlighter-rouge {
  background: #fdfdfd;
  border: 1px solid #e9e9e9;
  position: relative;
  margin: 0 0.334em;
  padding: 0.1em 0.2em;
  font-size: 0.9em;
  top: -1px;
}
pre.highlight {
  background: #fdfdfd;
  border: 1px solid #e9e9e9;
  padding: 0.2em 0.4em;
  font-size: 1em;
}
div.article p img, div.article img {
  max-width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.notice {
  display: inline-block;
  border: 1px solid black;
  padding: 1em;
  font-style: italic;
}

pre,code {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.container {
  max-width: 1080px;
  margin: auto;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.hidden {
  display: none;
}
h1 {
  font-size: 3em;
  padding: 0.3rem;
}
h2 {
  font-size: 2em;
  padding: 0.3rem;
}
ul.no-list-decoration, ul.no-list-decoration li {
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
}
ul.navbar-nav {
  display: flex;
}
ul.navbar-nav li {
  display: inline-block;
}
ul.navbar-nav li:first-child {
  margin-right: auto;
}
ul.navbar-nav li:not(:last-of-type):not(:first-child) {
  margin-right: 1em;
}
.navbar-brand {
  font-weight: bold;
}
img.profile {
  width: 10em;
  border-radius: 50%;
}
a.text-decoration-none {
  text-decoration: none;
}
a span {
  margin: 0;
  padding: 0;
  color: inherit;
  background-color: inherit;
}
a {
  color: inherit;
}
p {
  font-size: 1rem;
  padding: 0.3rem;
}
.pre-scrollable {
  max-height: 250px;
  overflow: scroll;
}
