---
---
// import /_sass/bootstrap.scss
@import "bootstrap";

.list-group-item a, a.itl {
  font-weight: 500;
  padding: 2px;
}
.list-group-item a:hover, a.itl:hover {
  text-decoration: none;
  font-weight: 500;
  color: #fff !important;
  padding: 2px;
  background-color: #000 !important;
}
