---
---
$dark-400: #181b21;
$dark-300: #22262e;
$dark-200: #343a46;
$dark-100: #464f60;
$light: #ffffff;
$primary: $light;
$danger: #b63f4a;
$secondary: $dark-100;
$success: $light;
$warning: #d30c7b;
$info: #218899;


/*
 * HTML
 */

body {
  background: $dark-400;
  color: $light;
}
a {
  color: $light;
}

.list-group-item a:hover, a.itl:hover {
  text-decoration: none;
  font-weight: 500;
  color: #000 !important;
  padding: 2px;
  background-color: $light !important;
}

/*
 * Bootstrap
 */

.alert a {
  color: #214D97;
}

.bg-secondary, .btn-secondary { background-color: $secondary !important; }
.btn-secondary, .card-secondary .card-header { border-color: $secondary !important; }
.text-secondary { color: $secondary !important; }
.alert-secondary, .btn-secondary:hover {
  color: $light;
  background-color: darken($secondary, 10%);
  border-color: darken($secondary, 10%);
}

.bg-primary, .btn-primary {
  color: $dark-400;
  background-color: $primary !important;
}
.btn-primary, .card-primary .card-header { border-color: $primary !important; }
.text-primary { color: $dark-400 !important; }
.alert-primary, .btn-primary:hover {
  color: $dark-400;
  background-color: darken($primary, 10%);
  border-color: darken($primary, 10%);
}

.bg-warning, .btn-warning { background-color: $warning !important; }
.btn-warning, .card-warning .card-header { border-color: $warning !important; }
.text-warning { color: $warning !important; }
.card-warning > .text-dark { color: $dark-400 !important; }
.alert-warning, .btn-warning:hover {
  color: $light;
  background-color: darken($warning, 10%);
  border-color: darken($warning, 10%);
}

.navbar-light {
  color: $light !important;
  background-color: darken($dark-400, 10%) !important;
  border-color: darken($dark-400, 10%) !important;
}

.navbar-brand, .nav-item .nav-link {
  color: $light !important;
}

code {
  color: $light !important;
}

.card {
  box-shadow: none !important;
}

.dropdown-item:hover {
  color: $light;
  background-color: $dark-300;
}

.form-control,
.form-control:focus {
  color: $light;
  background: $dark-300;
  border-color: $dark-300;
}

.card,
.jumbotron,
.list-group-item {
  background: $dark-300;
}

.blockquote {
  border-color: $dark-300;
}

.bg-dark {
  background-color: $dark-300 !important;
}

.dropdown-item {
  color: $light;
}

.list-group-item {
  border-color: $dark-200;
}

.text-dark {
  color: $light !important;
}

table[data-sortable].sortable-theme-bootstrap {
  color: $light;
  background-color: $dark-300;
}
table[data-sortable].sortable-theme-bootstrap th,
table[data-sortable].sortable-theme-bootstrap td {
  border-color: $dark-100 !important;
}
table[data-sortable].sortable-theme-bootstrap th[data-sorted="true"] {
  color: $light;
  background: $dark-200;
}
table[data-sortable].sortable-theme-bootstrap th[data-sorted="true"][data-sorted-direction="ascending"]::after, {
  border-bottom-color: $light;
}
table[data-sortable].sortable-theme-bootstrap th[data-sorted="true"][data-sorted-direction="descending"]::after {
  border-top-color: $light;
}
