---
layout: default
---
<div class="container">
  <div class="first row">
    <div class="col-7 col-sm-6 col-md-4 col-lg-3 offset-lg-1 pb-3">
      <div class="card">
        <img class="card-img-top" src="/assets/img/jonah.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Jonah Aragon</h5>
          <p class="card-text"><i class="fas fa-envelope w-10 text-center"></i> <span class="ml-1">jonah@triplebit.net</span></p>
          <p class="card-text"><i class="fas fa-key w-10 text-center"></i> <span class="ml-1"><a href="https://keybase.io/JonahAragon">DB49 BB25 5B86 8219</a></span></p>
          <p class="card-text"><i class="fas fa-map-marker-alt w-10 text-center"></i> <span class="ml-1">Minnesota, USA</span></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8 col-lg-7 mt-3 mt-md-0">
      <h4 class="pb-2">Profiles</h4>
      <div class="card mt-3 mt-md-0">
        <ul class="list-group list-group-flush">
          {% include profiles.html %}
        </ul>
      </div>
      <h4 class="pb-2 pt-4">Messengers</h4>
      <div class="card mt-3 mt-md-0">
        <ul class="list-group list-group-flush">
          {% include messengers.html %}
        </ul>
      </div>
      <h4 class="pb-2 pt-4">Domain Names <a class="btn btn-link btn-sm" data-toggle="collapse" href="#domains" role="button" aria-expanded="false" aria-controls="collapseExample">Toggle</a></h4>
      <div class="collapse" id="domains">
        <div class="card mt-3 mt-md-0">
          <ul class="list-group list-group-flush">
            {% include domains.html %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{ content }}
</div>
