---
layout: default
---
<div class="container pb-5">
  <div class="row pt-5">
    <div class="col-7 col-md-4 col-lg-3 offset-lg-1 pb-3">
      <div class="h-card card">
        <img class="card-img-top u-photo" src="/assets/img/jonah.gif" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><a href="https://www.jonaharagon.com/" class="p-name u-url text-dark itl">Jonah Aragon</a></h5>
          <p class="card-text"><i class="fas fa-envelope w-10 text-center"></i> <a href="mailto:jonah@triplebit.net" class="u-email ml-1 text-dark itl">jonah@triplebit.net</a></p>
          <p class="card-text"><i class="fas fa-key w-10 text-center"></i> <span class="ml-1"><a href="/keys/" class="u-key text-dark itl">DB49 BB25 5B86 8219</a></span></p>
          <p class="card-text"><i class="fas fa-map-marker-alt w-10 text-center"></i> <span class="ml-1 text-dark"><span class="p-region">Minnesota</span>, <span class="p-region">USA</span></span></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8 col-lg-7 mt-3 mt-md-0">
      <h4 class="pb-2">Profiles</h4>
      <div class="card mt-3 mt-md-0">
        <ul class="list-group list-group-flush">
          {% include profiles.html %}
        </ul>
      </div>
      <h4 class="pb-2 pt-4">Messengers</h4>
      <div class="card mt-3 mt-md-0">
        <ul class="list-group list-group-flush">
          {% include messengers.html %}
        </ul>
      </div>
      <h4 class="pb-2 pt-4">Domain Names</h4>
      <div class="card mt-3 mt-md-0">
        <ul class="list-group list-group-flush">
          {% include domains.html %}
        </ul>
      </div>
    </div>
  </div>
  {{ content }}
</div>
